apiVersion: v1
kind: Service
metadata:
  name: mysqldb
  namespace: hopegiversbloodbank
spec:
  selector:
    app: database
  ports:    
    - port: 3306
  clusterIP: None  #Headless service for StatefulSet

 
