apiVersion: apps/v1
kind: StatefulSet 
metadata:
  name: database-statefulset
spec:
  serviceName: mysqldb
  replicas: 2
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
    spec:
      containers:
        - image: manju9676/hopegiversbloodbank-database:latest
          name: mysql
          ports:
            - containerPort: 3306 
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "admin123"
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m" 
            requests:
              memory: "256Mi" 
              cpu: "250m"
          volumeMounts:
            - name: mysql-pvc
              mountPath: /var/lib/mysql
  volumeClaimTemplates:
    - metadata:
        name: mysql-pvc
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 2Gi
  
          
      