---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: hopegiversbloodbank
spec:
  replicas:  2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      serviceAccountName: frontend-sa
      initContainers:
        - name: wait-for-db
          image: busybox:latest
          command: ['sh', '-c', 'until nc -z mysqldb 3306; do sleep 2; done;']
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "64Mi"
              cpu: "50m"
      containers:
        - name: frontend
          image: manju9676/hopegiversbloodbank-frontend:30
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: app-config
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 2
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"
                  