apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: myingress
  namespace: hopegiversbloodbank
  labels:
    app.kubernetes.io/name: myingress
spec:
  rules:
  - host: myapp.example.com
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: frontend-service
            port: 
              number: 80
