---
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: hopegiversbloodbank
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "admin123"
